/*
 * Path plugin vars.
 */

// Claroline & bootstrap variables
@import "../../../../main/core/Resources/less/themes/default/variables";

@path-summary-lvl-indent:           20px; // indent children of a step in the summary


// -
// Step
// ---

@step-poster-border-radius:   8px;

@step-status-size:            10px; // size of the dot status
// colors for each progression status
@step-status-unseen-color:    @text-muted;
@step-status-seen-color:      @brand-secondary;
@step-status-to_do-color:     @brand-warning;
@step-status-done-color:      @brand-success;
@step-status-to_review-color: @brand-danger;
