{% extends "ClarolineCoreBundle:desktop:layout.html.twig" %}

{% block content %}
    <div class="desktop-notifications-container"></div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="{{ hotAsset('claroline-distribution-plugin-notification-desktop-notification-tool') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' type='text/css' href='{{ asset('bundles/icapnotification/css/style.css') }}'/>
{% endblock %}
