///////////////////////////////////////////////////////////////////////////
//                                                                       //
// This less file includes bootstrap and adds a few global layout rules, //
// mainly for navbar, grid and footer positioning. It is intended to be  //
// used by real theme files, and thus should be kept short and           //
// design-neutral.                                                       //
//                                                                       //
///////////////////////////////////////////////////////////////////////////

// Import bootstrap
@import "../../../../../../../node_modules/bootstrap/less/bootstrap";

// Import fontawesome
@import "../../../../../../../node_modules/@fortawesome/fontawesome-free/less/fontawesome";
@import "../../../../../../../node_modules/@fortawesome/fontawesome-free/less/solid";
@import "../../../../../../../node_modules/@fortawesome/fontawesome-free/less/regular";
@import "../../../../../../../node_modules/@fortawesome/fontawesome-free/less/brands";
@import "../../../../../../../node_modules/@fortawesome/fontawesome-free/less/v4-shims";

@fa-font-path: "../../packages/@fortawesome/fontawesome-free/webfonts";

// Import claroline layout
@import "mixins";
// ATTENTION (advanced CSS) : walkthrough must always be included first
// because it declare some classes which will be appended to existing ui component.
// I need to keep those classes with a lower specificity than the real ui styles.
@import "walkthrough/index";
@import "scaffolding";
@import "utilities";
@import "type";
@import "alert/index";
@import "data/index";
@import "layout/index";
@import "progression/index";
@import "tinymce/index";
@import "users/index";
@import "widget/index";
@import "workspace/index";

.notification-date {
    text-decoration: underline;
    font-style: italic;
}

.locale-select {
   margin-left: 30px ;
   font-size: floor(16px * @font-size-modifier);
   cursor: pointer;
}

.ordering-icon.disabled {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    box-shadow: none;
    .opacity(.65);
}

/**********************/
/***      HOME      ***/
/**********************/

/* special grid system for content in home page*/

@content-iteration: 12;
@content-margin: 1.5;

.claroline-home {
    padding: floor(@grid-gutter-width / 2);
}

@media (min-width: 767px) {
    .content-size (@index) when (@index >= 1) {
        .content-@{index} {
            width: unit(((@index * 100 / @content-iteration) - @content-margin - 0.1), %);
            margin-right: unit(@content-margin, %);
            float: left;
        }

        .spacing-right {
            padding-right: unit(@content-margin, %);
        }

        .content-offset@{index} {
            margin-left: unit(((@index * 100 / @content-iteration)), %);
        }

        .content-size(@index - 1);
    }

    .content-size(@content-iteration);
}

@media (max-width: 767px) {
    .content-size (@index) when (@index >= 1) {
        .content-@{index} {
            margin-left: 0;
            margin-right: 0;
        }

        .content-offset@{index} {
            margin-left: 0;
        }

        .spacing-right{
            padding-right: 0;
        }

        .content-size(@index - 1);
    }

    .content-size(@content-iteration);
}

.content-element {
    .text {
        clear: both;
        margin-bottom: 20px;
    }

    .read-more {
        position: relative;
        max-height: 300px;
        overflow: hidden;

        .text {
            max-height: 300px;
        }

        .show-more {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .text-gradient {
            width: 100%;
            height: 300px;
            position: absolute;
            top: 0;

            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, #fff));
            background-image: -webkit-linear-gradient(top, transparent, #fff);
            background-image: -moz-linear-gradient(top, transparent, #fff);
            background-image: -ms-linear-gradient(top, transparent, #fff);
            background-image: -o-linear-gradient(top, transparent, #fff);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
    }

    .dropdown-menu a {
        cursor: pointer;
    }

    .text-muted {
        position: absolute;
        bottom: 10px;
    }

    img {
        padding: 0 0 10px 0;
        max-width: 100%;
    }

    .content-menu {
        button {
            position: relative;
            top: -1px;
            right: -1px;
            z-index: (@zindex-navbar-fixed - 2);
        }
        .dropdown-menu {
            z-index: (@zindex-navbar-fixed - 1);
        }

        .btn.btn-primary {
            background: @navbar-default-bg;
            border-color: @btn-default-border;
            color: @btn-default-color;
            font-weight: bold;
            text-decoration: none;
        }

        .btn.btn-link {
            background: @panel-footer-bg;
            color: lighten(@gray-light, 10%);
            text-decoration: none;
            .border-top-radius(@border-radius-base);
            .border-bottom-radius(@border-radius-base);
        }
    }

    .list-group.menu .list-group-item .btn.btn-link {
        background: transparent;
    }

    .panel-heading, .panel-body {
        overflow: hidden;
    }

    > .nav.nav-pills{
        > li > a {
            background-color: @navbar-inverse-bg;
            color: #fff;
            &:hover {
                background-color: darken(@body-bg, 30%);
            }
        }
        margin-bottom: 5px;
        border: 1px solid transparent;
        &.admin:hover{
            border: 1px dashed lighten(@link-color, 20%);
        }
    }

    > .list-group {
        > div.list-group-item {
            padding: 0;
        }

        > a.list-group-item {
            cursor: pointer;
        }

        > .list-group-item  {
            > a {
                display: block;
                padding: 10px 15px;
                color: @gray;

                &:hover {
                    text-decoration: none;
                    background: @panel-default-heading-bg;
                }
            }

            //link inside a div case
            &.active > a,
            &.active > a:hover {
                color: #fff;
                background: @link-color;
            }
        }
    }
}

.content-scroll {
    width: 100%;
    height: 400px;
    border: 1px solid @input-border;
    .border-top-radius(@border-radius-base);
    .border-bottom-radius(@border-radius-base);
    overflow-y: scroll;
    overflow-x: auto;
    padding: 5px;
}

.creator {
    &.creator-menu .form-control, textarea.form-control {
        .border-bottom-radius(0);
        margin: 0;
        border-bottom: none;
    }

    .panel {
        .border-top-radius(0);
    }

    .navbar.navbar-static-top {
        z-index: (@zindex-dropdown - 10);
        .border-bottom-radius(@border-radius-base);
        margin: 0;

        .navbar-nav {
            float: left;
        }

        .navbar-nav.navbar-right {
            float: right;
        }
    }

    textarea {
        overflow: hidden;
        resize: none;
        .transition(all .2s linear);
    }
}

.creator-collapse {
    background: @list-group-bg;
    border: 1px solid @list-group-border;
    padding: 10px 10px 0 10px;
}

#sizes .panel, #regions .panel {
    cursor: pointer;
    padding: 5px;
}

#regions .panel {
    text-align: center;
    padding: 20px 5px 20px 5px;
}

#sizes .panel:hover,
#sizes .panel.active,
#regions .panel:hover,
#regions .panel.active {
    background: @link-color;
    color: #fff;
}

.region-header {
    padding-bottom: 10px;
}

.datepicker {
    z-index: (@zindex-modal + 5) !important;
}

.claroline-tag-highlight {
    font-weight: bolder;
    .font-size-modifier(16px);
}

.shared_policy_link {
    color: @link-color;

    &:hover {
        cursor:          pointer;
        text-decoration: underline;
    }
}

.hidden {
  display: none;
}
