// In bootstrap this doesn't use the mixin
.text-muted {
    .text-emphasis-variant(@text-muted);
}

.text-html-content {
    // by default justify content for better display,
    // it can be easily overridden through WYSIWYG editors (currently TinyMCE).
    text-align: justify;
}

.h-first {
    // otherwise there is to many space when used just after a .page-header
    // there may be a better way to handle it.
    margin-top: 0;
}

.h-numbering {
    display: flex;
    align-items: center;
    align-self: stretch;
    font-size: @heading-numbering-font;
    font-weight: @heading-numbering-weight;
    padding: @heading-numbering-padding;
    margin-right: 10px;
    background: @heading-numbering-bg;
    color: @heading-numbering-color;
    border-radius: @heading-numbering-border-radius;
    .box-shadow(@heading-numbering-box-shadow);

    &:after {
        content: @heading-numbering-separator;
    }
}
