{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'lti_tool' | trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% block content %}
    <div
        class="page-container lti-container"
        data-current-context="{{ context | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ hotAsset('claroline-distribution-plugin-lti-management') }}"></script>
{% endblock %}
