{#
 # This file is part of the Inwicast plugin for Claroline Connect.
 #
 # (c) INWICAST <dev@inwicast.com>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'packages' | trans({}, 'platform') | striptags | raw }}
    {{ ' - ' ~ 'inwicastclarolineplugin' | trans({}, 'plugin_description') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{ macros.breadcrumbs([
    {
    'icon': 'icon-cog',
    'name': 'administration'|trans({}, 'platform'),
    'href': path('claro_admin_index')
    },
    {
    'name': 'packages'|trans({}, 'platform'),
    'href': path('claro_admin_open_tool', {'toolName': 'platform_packages'})
    },
    {
    'name': 'inwicastclarolineplugin'|trans({}, 'plugin_description'),
    'href': ''
    }
    ]) }}
{% endblock %}

{% block page_title %}{{ 'inwicastclarolineplugin'|trans({}, 'plugin_description') }}{% endblock %}
{% block page_content %}
    <div class="alert alert-success">
        <strong>{{ 'operation_done' | trans({}, 'platform') }}</strong> {{ 'mediacenter_url_updated' | trans({}, 'widget') }}
    </div>

    <a href="{{ path('claro_admin_open_tool', {'toolName': 'main_settings'}) }}"
       class="btn btn-default btn-primary">{{ 'back_to_parameters' | trans({}, 'widget') }}</a>
    <a href="{{ path('claro_admin_open_tool', {'toolName': 'inwicast_configuration'}) }}"
       class="btn btn-default btn-default">{{ 'reconfigure' | trans({}, 'widget') }}</a>
{% endblock %}
