main/dev/Command export-ignore
main/dev/Manager export-ignore
main/dev/Resources export-ignore
main/core/Tests export-ignore
main/migration/Tests export-ignore
plugin/activity-tool/Tests export-ignore
plugin/announcement/Tests export-ignore
plugin/badge/Tests export-ignore
plugin/collecticiel/Tests export-ignore
plugin/cursus/Tests export-ignore
plugin/dropzone/Tests export-ignore
plugin/exo/Tests export-ignore
plugin/forum/Tests export-ignore
plugin/lesson/Tests export-ignore
plugin/message/Tests export-ignore
plugin/notification/Tests export-ignore
plugin/portfolio/Tests export-ignore
plugin/result/Tests export-ignore
plugin/rss-reader/Tests export-ignore
plugin/url/Tests export-ignore
plugin/video-player/Tests export-ignore
plugin/video-recorder/Tests export-ignore
plugin/website/Tests export-ignore
