{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block claroline_danger %}
    {{ parent() }}

    {% if workspace is defined and not is_date_access_valid(workspace) %}
        <div class="label label-danger">
            {{ 'workspace_access_date_invalid'|trans({}, 'platform') }}
        </div>
    {% endif %}
{% endblock %}

{#
    Make sure old tools do not render their breadcrumb.
    This will be removed when all react tools will manage their breadcrumb properly.
#}
{% block breadcrumb %}{% endblock %}

{% block title %}
    {{ workspace.name }}
{% endblock %}

{% block leftbar %}
    {% if workspace is defined and workspace != null and is_granted('OPEN', workspace) %}
        {{ render(controller("ClarolineCoreBundle:Workspace:renderToolbar", {workspace: workspace, request: app.request})) }}
    {% endif %}
{% endblock %}

{% block content %}
    {# @deprecated block : will be removed ASAP #}
    {% block section_panel %}
        <div class="panel panel-default">
            {# @deprecated block : will be removed ASAP #}
            {% block section_content %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Workspace toolbar #}
    <script src="{{ hotAsset('claroline-distribution-main-core-workspace-toolbar') }}"></script>
{% endblock %}
