{% from _self import renderPager %}
{% from _self import sortUrl %}
{% from "ClarolineCoreBundle::macros.html.twig" import maxResultsSelectBox %}

{% extends 'ClarolineCoreBundle:workspace:layout.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ "users" | trans({}, "platform") | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [
                {
                    'name': 'users'|trans({}, 'platform'),
                    'href': ''
                }
            ]
        )
    }}
{% endblock %}

{% block content %}
    <div
      class="page-container workspaces-container"
      data-workspace="{{ workspace | api_serialize(['workspace_fetch_groups']) | json_encode | raw | escape }}"
      data-restrictions="{{ restrictions | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-workspace-user-management') }}"></script>
{% endblock %}
