{% extends "ClarolineCoreBundle:workspace:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-planned-notification-tool.css') }}" />
{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.workspaceBreadcrumbs(
            workspace,
            [{
                'name': 'claroline_planned_notification_tool'|trans({}, 'tools'),
                'href': ''
            }]
        )
    }}
{% endblock %}

{% block content %}
    <div
        class="page-container planned-notification-tool-container"
        data-workspace="{{ workspace | api_serialize | json_encode | raw | escape }}"
        data-can-edit="{{ canEdit | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('claroline-distribution-plugin-planned-notification-tool') }}"></script>
{% endblock %}
