<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="helpModalLabel">{{'region_help' | trans({}, 'media_resource')}}</h4>
            </div>
            <div class="modal-body">
                <div id="help-tab-panel" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#help-region-choice" aria-controls="help-region-choice" role="tab" data-toggle="tab">{{'help_modal_choice_tab_label' | trans({}, 'media_resource')}}</a>
                        </li>
                        <li role="presentation">
                            <a href="#region-help-available" aria-controls="region-help-available" role="tab" data-toggle="tab">{{'help_modal_help_tab_label' | trans({}, 'media_resource')}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'close' | trans({}, 'media_resource')}}</button>
            </div>
        </div>
    </div>
</div>
