{% extends 'ClarolineCoreBundle::form_theme.html.twig' %}
{% block organizationpicker_widget %}
    dfgsdfgsfdg
    {% spaceless %}
        {{ block('form_widget') }}
        <div>
            appli react goes here
        </div>
    {% endspaceless %}

    <script type="text/javascript">
    
    </script>
{% endblock %}
