@import "../../../../main/core/Resources/less/themes/default/variables";
@import "loading-bar.less";

/* APP CONTAINER */
.dashboard-app-container {
    .dashboard-app-views {
        > .panel-heading {
            color: @panel-default-text;
            background-color: @panel-default-heading-bg;
            border-color: @panel-default-border;
        }
    }
}
