{% extends "ClarolineCoreBundle:resource:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-exo-docimology.css') }}" />
{% endblock %}

{# Content of the Page #}
{% block content %}
    <div
        class="page-container docimology-container"
        data-resource-node="{{ _resource.resourceNode | api_serialize | json_encode | raw | escape }}"
        data-quiz="{{ exercise | json_encode | raw | escape }}"
        data-statistics="{{ statistics | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-plugin-exo-docimology') }}"></script>
{% endblock %}
