{% extends "ClarolineCoreBundle:desktop:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-exo-question-bank-tool.css') }}" />
{% endblock %}

{# Title of the Page #}
{% block title %}{{ 'bank_of_questions' | trans({}, 'quiz') }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{# Override breadcrumbs #}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([{
            'name': 'desktop'|trans({}, 'platform'),
            'href': path('claro_desktop_open')
        }, {
            'name': 'bank_of_questions'|trans({}, 'quiz'),
            'href': ''
        }])
    }}
{% endblock %}

{# Content of the Page #}
{% block content %}
    <div
        class="page-container question-bank-container"
        data-questions="{{ questions | json_encode | raw | escape }}"
        data-user="{{ currentUser | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'quiz' }) }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'question_types' }) }}"></script>

    <script src="{{ hotAsset('claroline-distribution-plugin-exo-bank') }}"></script>
{% endblock %}
