{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'register' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    <div
        class="user-registration-container"
        data-options="{{ options | json_encode | raw | escape }}"
        data-facets="{{ facets | json_encode | raw | escape }}"
        data-default-workspaces="[{{ workspace | api_serialize | json_encode | raw | escape }}]"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-user-registration') }}"></script>
{% endblock %}
