{% extends "ClarolineCoreBundle:desktop:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ "parameters" | trans({}, "platform") | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div
        class="page-container desktop-parameters-container"
        data-tools="{{ tools | json_encode | raw | escape }}"
        data-tools-config="{{ toolsConfig | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('claroline-distribution-main-core-desktop-parameters-tool') }}"></script>
{% endblock %}
