/**
 * ClacoForm resource.
 */

@import "./../variables.less";
@import "./../mixins.less";

.resource-overview {
    flex: 1;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .btn-overview {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: @font-size-large;
        text-align: center;
        color: @text-color;
        margin: floor(@grid-gutter-width / 2);
        padding: 0;
        background: white;
        border: 1px solid #e5e5e5;

        .action-icon,
        .action-label {
            padding: floor(@grid-gutter-width / 2);
        }

        .action-icon {
            color: @text-muted;
            font-size: 72px;
            padding: 15px;
            background: #f5f5f5; // todo : add var (same as feedback in exo)
            border-bottom: 1px solid #e5e5e5; // todo : add var (same as feedback in exo)
        }

        &:hover,
        &:focus {
            border-color: @brand-primary;
            .box-shadow(@dropdown-menu-box-shadow);

            .action-icon {
                background: @brand-primary;
                color: rgba(255, 255, 255, 0.75);
                border-color: @btn-primary-border;
            }
        }
    }
}

.entry {
    .panel {
        margin-bottom: 0;
    }

    .entry-title {
        margin-top: 0;
    }

    .comments-container {
        margin-top: @component-margin-bottom;
    }
}

// same as announce
.entry-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #777;
    background: #f5f5f5; // panel heading
    padding: 5px 10px;
    margin-bottom: @component-margin-bottom;

    .entry-info {
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .date {
            padding: 0 10px;
            font-size: @font-size-small;
            font-style: italic;
        }
    }

    .entry-actions {
        padding-left: 10px;
        border-left: 1px solid #ccc;

        .btn {
            padding: 0;
            + .btn {
                margin-left: 5px;
            }
        }
    }
}

.entry-footer {
    .title {
        display: inline-block;
        color: #777;
        font-size: @font-size-small;
        min-width: 80px; // todo: find better
    }

    hr {
        border-color: #ccc;
        margin-top: 10px; // same as .panel-footer v-padding (no var)
        margin-bottom: 10px; // same as .panel-footer v-padding (no var)
    }

    // todo : do not use .label (too many overrides)
    .label {
        display: inline-block;
        font-size: 100%;
        font-weight: normal;

        + .label {
            margin-left: 5px;
        }
    }
}

.entry-menu {
    text-align: right;
}

.form-group-align {
    display: flex;
    align-items: center;
}

.clacoform-field-group {
    .field-tooltip {
        margin-left: 5px;
    }
}

.clacoform-field-choice {
    margin-bottom: 10px;

    select {
        border-color: #CCC !important;
    }
}

.template-buttons,
.entry-form-buttons {
    margin-top: 20px;

    .btn {
        margin-right: 5px;
    }
}

.choices-children-box {
    margin-top: 10px;
}

.choices-management-buttons {
    width: 100%;
}

.choices-management-btn {
    width: 50%;
}

.inactive-comment-row {
    background-color: #F2B36F;
}

.notifications-buttons {
    padding: 10px;

    .form-group {
        margin: 0;
    }
}