{% if resourceNode.workspace is not defined %}
    {# Resource is displayed in Desktop #}
    {% set layout = "ClarolineCoreBundle:desktop:layout.html.twig" %}
{% else %}
    {# Resource is displayed in Workspace #}
    {% set workspace = resourceNode.workspace %}
    {% set layout = "ClarolineCoreBundle:workspace:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block title %}
    {% spaceless %}
        {% if resourceNode.workspace is defined %}
            {{ resourceNode.workspace.name }} -
        {% endif %}

        {{ resourceNode.name | striptags | raw }}
    {% endspaceless %}
{% endblock %}

{% block content %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'resource' }) }}"></script>
{% endblock %}
