@import (less) "../../../../../../../node_modules/fullcalendar/dist/fullcalendar.css";

.fc-day-grid-event {
    &:focus {
        color: white;
        text-decoration: none;
    }

    > .fc-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}

.popover button.close {
    font-size: 13px;
}

.is-task {
    padding-right: 3px;
}

.task-priority-high {
    color: #FF0000;
}

.task-priority-medium {
    color: #01A9DB;
}

.task-priority-low {
    color: #848484;
}

.task-event {
    background-color: rgb(144, 32, 32);
    border-color: rgb(144, 32, 32);
}
