.app-footer-container {
    display: flex; // just to have child content taking full height
    width: 100%;

    margin-top: auto;

    min-height: @footer-height;
    background: @footer-bg;
    color: @footer-color;
    border-top: 1px solid @footer-border-color;
    .box-shadow(@footer-box-shadow);

    .app-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        max-width: @footer-max-width;
        width: 100%;
        margin: 0 auto;
        flex: 1 0 auto; // take parent full height
    }

    // allow to customize links in footer
    a {
        color: @footer-link-color;

        &:hover {
            color: @footer-link-hover-color;
        }
        &:focus {
            color: @footer-link-active-color;
        }
    }

    .app-footer-brand {
        height: @footer-height;
        padding: 0 floor(@grid-gutter-width / 2);
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;

        img {
            max-height: 30px;
            margin-right: 10px;
        }

        h1 {
            margin: 0;
        }

        a {
            font-weight: bold;
        }

        small {
            display: block;
            margin-top: 5px;
        }
    }

    .app-current-locale {
        margin: 0 floor(@grid-gutter-width / 2);
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px; // todo : calculate
        background: white;

        .locale-icon {
            margin: 0 @icon-text-spacer 0 0;
        }
    }

    .app-footer-content {
        min-width: 100%; // force display in a new line in flex container
        padding: floor(@grid-gutter-width / 2);

        background: @footer-content-bg;
        border-top: 1px solid @footer-content-border-color;
        .box-shadow(@footer-content-box-shadow);
    }
}
