/**
 * Application top bar styles.
 */

.app-header-container {
    height: @top-bar-height;
    color: @top-bar-color;
    font-size: @top-bar-font-size;
    border-bottom: @top-bar-border-bottom;
    background: @top-bar-bg;
    .box-shadow(@top-bar-box-shadow);
}

.app-header {
    max-width: @top-bar-max-width;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    .dropdown-menu {
        margin-top: 0;
        .border-top-radius(0);
    }

    .app-header-item {
        padding: 0 floor(@grid-gutter-width / 2);
        display: flex;
        vertical-align: middle;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .dropdown {
        display: flex;
        justify-content: center;
        align-items: stretch;

        &.open .dropdown-toggle {
            &,
            &:hover,
            &:focus {
                color: @top-bar-link-active-color;
                background-color: @top-bar-link-active-bg;
            }
        }
    }
}

.app-header-brand {
    height: 100%;
    text-align: center;

    // permit to center the img
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.app-header-logo {
    max-height: 75%;

    // fallback for IE 11 and logos that don't define color schema
    fill: @top-bar-brand-color;

    // declare colors var to make it usable inside the SVG
    --logo-default: @top-bar-brand-color;
    --logo-primary: @brand-primary;

    + .app-header-title {
        margin-left: floor(@grid-gutter-width / 2);
    }
}

.app-header-title {
    text-align: left;
    margin: 0;
    line-height: 1;
    font-size: @top-bar-brand-font-size;
    font-weight: 900;
    color: @top-bar-brand-color;

    > small {
        display: block;
        margin-top: 2px;
        font-size: 70%;
        font-weight: normal;
        font-style: italic;
        color: @brand-primary;
    }
}

.app-header-btn {
    color: @top-bar-link-color;
    background: @top-bar-link-bg;
    .action-icon,
    .fa {
        font-size: @font-size-large;
    }

    // puts labels in the bottom right corner
    .action-subscript {
        position: absolute;
        top: auto; // reset bootstrap default
        bottom: 5px;
        right: 5px;
        line-height: 1;

        &.label {
            font-size: 10px;
            padding: .2em .4em;
        }
    }

    &:hover,
    &:focus {
        color: @top-bar-link-hover-color;
        background: @top-bar-link-hover-bg;
    }

    &.active {
        &,
        &:hover,
        &:focus {
            color: @top-bar-link-active-color;
            background-color: @top-bar-link-active-bg;
        }
    }

    &.disabled {
        &,
        &:hover,
        &:focus {
            color: @top-bar-link-disabled-color;
            background-color: @top-bar-link-disabled-bg;
        }
    }
}

.app-header-main {
    flex: 1;
    display: flex;
}

// TODO : move elsewhere. This is the styles for one implementation of .app-header-main
.app-header-workspaces {
    flex: 1;
    font-size: @font-size-large;

    .dropdown-toggle {
        width: 100%;

        display: flex;
        justify-content: space-between;

        .header-workspaces {
            .icon-with-text-right {
                margin-right: 15px;
            }
        }
    }

    .dropdown-menu {
        font-size: @font-size-large;
        min-width: 100%;
    }
}

.app-header-user {
    font-size: @font-size-small;
    font-weight: bold;

    .user-avatar {
        color: @top-bar-link-color;
        // for picture
        max-height: 30px;

        // for .fa when no picture
        font-size: 30px;
    }

    .user-username {
        margin-left: 10px;
    }
}

.app-current-user {
    width: 360px;
    padding: 0; // reset default .dropdown-menu

    .app-current-user-header {
        padding: 15px;
        text-align: center;
        background: @panel-default-heading-bg;

        .fa {
            margin-right: 0; // because there is a hack in styles to add margins on dropdown icons
        }

        h2 {
            color: @text-color;
            margin-bottom: 5px;
            font-weight: 900;
        }
    }

    .app-current-user-icon {
        width: 80px;
        height: 80px;
        font-size: floor(80px / 2); // for FA icons

        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .6);
        border-radius: 50%;
        line-height: 0;

        // for FA icons
        color: #777777 !important;

        // for SVG icons
        fill: #777777 !important;
        stroke: #777777 !important;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .app-current-user-body {
        padding: 15px;
        border-top: 1px solid @list-group-border;
    }

    .app-current-user-tools {
        margin: 0;

        .list-group-item {
            border-left-color: transparent;
            border-right-color: transparent;
        }
        .list-group-item:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        .list-group-item:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .app-current-user-footer {
        padding: 15px;
        display: flex;
        flex-direction: row;
        //justify-content: space-around;
        align-items: center;
        background: @panel-footer-bg;
    }

    .app-current-user-btn {
        width: 32px;
        height: 32px;
        border-radius: 50%;

        // center icon inside the fiwed width button
        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        background: #777;

        margin-left: 5px;

        .fa {
            margin-right: 0; // because there is a hack in styles to add margins on dropdown icons
        }
    }
}


// OLD

.impersonalitation {
    &.spaced .spacer {
        height: @navbar-height;
    }

    .navbar-fixed-top {
        .box-shadow(0 2px 3px rgba(0,0,0,.25));

        @media (max-width: @grid-float-breakpoint) {
            .navbar-nav {
                float: left;
            }

            .navbar-nav.navbar-right {
                float: right;
            }
        }

        z-index: (@zindex-navbar-fixed - 1);
        background-color: darken(@brand-warning, 5%);
        border: none;
        .navbar-nav li a {
            color: #fff;
            font-weight: bold;
        }

        .navbar-nav.navbar-right li a {
            .font-size-modifier(20px);
        }
    }

    &.spaced .navbar-fixed-top {
        margin-top: @navbar-height;
        z-index: (@zindex-navbar-fixed - 3);
    }
}

.impersonalitation .navbar.navbar-default.navbar-fixed-top {
    .box-shadow(0 2px 3px rgba(0,0,0,.25));
}
