
.app-overlays {
    position: fixed;
    z-index: @zindex-modal;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;

    .modal {
        height: 100vh;
        position: relative !important; // fixed position has been moved on the parent
        z-index: auto;

        &.in .modal-dialog {
            // the bootstrap default is transform(0) which create a new stacking context
            // and break walkthrough overlay.
            transform: none !important;
        }
    }

    .modal-backdrop {
        z-index: auto;
    }
}
