.page-container {
    display: flex; // this permits to have the .page component to fill the available height
    //margin-top: @component-margin-bottom; // add spacing with header
}

/*.breadcrumb + .page-container {
    margin-top: 0; // reset spacing (it's added by the breadcrumb)
}*/

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%; // fill parent
    max-width: 100%;

    &.fullscreen {
        position: fixed;
        z-index: @zindex-fullscreen;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: @body-bg; // regular page container has no background. We need to hide what is under
        overflow-y: scroll; // get the scrollbar
    }

    &.sm {

    }

    &.lg {

    }
}

.page-header {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-shrink: 0;
    flex-wrap: wrap;
    background-color: @body-bg; // for walkthrough-highlight

    padding: @page-header-padding;
    margin: 0;
    border-bottom: 1px solid @page-header-border-color;

    .page-header-content { // todo : remove me (old pages)
        flex: 3;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-shrink: 0;
        flex-wrap: nowrap;
    }

    .page-header-picture { // todo : remove me (old pages)
        flex: 1;
        max-width: 200px;
        margin-bottom: -40px;
        padding: 0 floor(@grid-gutter-width / 2); // why ?
    }

    + .page-content-shift {
        margin-top: @component-margin-bottom;
    }
}

.page-poster {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300px;
    border-bottom: none;

    // use movie subtitles styles to make title always readable
    // maybe one day add a background checker
    .page-title,
    .page-title > small {
        .text-movie-subtitles();
    }
}

.page-icon {
    order: 0;
    width: 70px;
    height: 70px;
    margin: 10px floor(@grid-gutter-width / 2);

    > * {
        max-width: 100%;
        max-height: 100%;
    }
}

.page-title {
    order: 1;
    flex: 1;
    font-size: @page-header-font-size;
    font-weight: @page-header-weight;
    margin: floor(@grid-gutter-width / 2) 0;
    padding: 0 floor(@grid-gutter-width / 2);

    > small {
        display: block; // todo this may have broken some things
        margin-top: 5px;
        font-size: 50%;
        font-style: italic;
    }
}

.page-title-center { // todo remove me
  text-align: center;
}

.page-title-left { // todo remove me
  text-align: left;
}

.page-title-right { // todo remove me
  text-align: right;
}

.page-actions {
    order: 2;
    margin-left: auto;
    margin-top: floor(@grid-gutter-width / 2);
    margin-bottom: floor(@grid-gutter-width / 2);
    padding: 0 floor(@grid-gutter-width / 2);
    white-space: nowrap;

    .page-actions-group { // todo remove me (for retro compatibility)
        display: inline-block;
        margin-left: floor(@grid-gutter-width / 2);

        &:first-child {
            margin-left: 0;
        }
    }

    > .page-actions-btn:first-child,
    .page-actions-group .page-actions-btn:first-child {
        margin-left: 0; // absorb first btn margin
    }

    .page-actions-btn,
    .dropdown {
        margin-left: .2em;
    }

    .dropdown-menu {
        margin-top: 5px; // increase margin to avoid overlap btn label if any
    }
}

.page-actions-separator {
    display: inline-block;
    margin: 0 5px;
}

// Current styles permit to have 7 buttons in one line on 360px screens (without btn groups)
.page-actions-btn {
    .button-base();

    position: relative; // for buttons with labels
    border-radius: 50%;
    padding: .65em;
    border: 1px solid transparent !important; // not perfect, it's required to override default btns border

    &.default {
        .button-variant(#333333; #EBEBEB; transparent);
    }

    &.primary {
         .button-variant(@btn-primary-color; @btn-primary-bg; transparent);
     }

    &.danger {
        .button-variant(@brand-danger; #EBEBEB; transparent);
    }

    // displays icon as a square
    .action-icon {
        font-size: 1.25em;
        line-height: 1.25em;
        width: 1.25em;
    }

    // puts labels in the bottom right corner
    .action-subscript {
        position: absolute;
        top: auto; // reset bootstrap default
        bottom: -5px;
        right: 0;
        line-height: 1;

        &.label {
            font-size: 10px;
            padding: .2em .4em;
        }
    }
}

.page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; // only specifying flex property here make the item fill the remaining space in its parent
    padding: 0 floor(@grid-gutter-width / 2);
    //margin-bottom: 20px;
}

.tabbed-page {
    .page-header {
        > div {
            flex: 1;
        }
    }

    .page-title {
        margin-bottom: 5px;
    }
}

.page-tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    padding: 0 floor(@grid-gutter-width / 2);
    font-family: @headings-font-family;
    margin: 0 -1px;

    a {
        flex: 1;
        font-size: @font-size-small;
        height: floor((@font-size-small * @line-height-small))*2 + 8px + 4px;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 4px 12px;
        color: #666666;
        background: #EDEDED;
        border: 2px solid #EDEDED;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        background-clip: padding-box;

        &.only-icon {
            margin-left: auto;
            flex: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: @brand-primary;
        }

        &.active {
            color: @brand-primary;
            background: white;
            border-top: 2px solid white;
            border-bottom-color: @brand-primary;
        }
    }

    .page-tabs-icon {
        font-size: 24px;
    }

    .page-tab-label {
        margin-left: 10px;
        overflow: hidden;
        max-height: 100%;
    }
}

@media (max-width: @screen-sm-min) {
    .page-header {
        flex-wrap: wrap;

        .page-header-picture {
            margin-bottom: floor(@grid-gutter-width / 2);
        }

        .page-header-content {
            flex-wrap: wrap;
        }
    }
}
