
.app-toolbar {
    position: absolute;
    max-width: @toolbar-size;
    width: 100%;
    top: 0;
    bottom: 0;
    background: @toolbar-bg;
    color: @toolbar-color;

    > nav { // temp wrapper since the toolbar is a standalone app
        height: 100%;
        padding: 5px 0;

        // to be moved on .app-toolbar later
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .tools {
        position: relative; // required for walkthrough highlight
        margin: 0 0 floor(@grid-gutter-width / 2);
    }

    .additional-tools {
        position: relative; // required for walkthrough highlight
        margin-top: auto;
    }


    .btn-group { // for dropdown which wraps the .tool-link
        display: block;
    }

    .dropdown {
        &.open .dropdown-toggle {
            color: @top-bar-link-hover-color;
            background: @top-bar-link-hover-bg;
        }

        .dropdown-menu {
            left: 100%;
            bottom: 0;
            top: auto;
            margin-left: -1px;
            margin-bottom: -1px;
        }
    }

    .tool-link {
        position: relative;
        display: block;
        width: 100%;
        padding: floor(@grid-gutter-width / 2);
        line-height: 1;
        text-align: center;
        color: @toolbar-link-color;
        text-shadow: @toolbar-link-shadow;

        .fa {
            font-size: @toolbar-font-size;
        }

        .label {
            position: absolute;
            bottom: floor(@grid-gutter-width / 4);
            right: floor(@grid-gutter-width / 4);
        }

        &:hover,
        &:focus {
            color: @toolbar-link-hover-color;
            background: @toolbar-link-hover-bg;
        }

        &.active {
            &,
            &:hover,
            &:focus {
                color: @toolbar-link-active-color;
                background-color: @toolbar-link-active-bg;
            }
        }

        &.disabled {
            &,
            &:hover,
            &:focus {
                color: @toolbar-link-disabled-color;
                background-color: @toolbar-link-disabled-bg;
            }
        }

        &.danger {
            color: @brand-danger;

            &:hover {
                color: white;
                background: @brand-danger;
            }

            &:focus {
                color: white;
                background: @brand-danger;
            }
        }
    }

    .dropdown.open .dropdown-toggle,
    .tool-link.active {
        // add triangle shadow
        &:before {
            z-index: 1;
            position: absolute;
            right: 0;
            top: floor(@grid-gutter-width / 2) - 2px;
            content: " ";

            width: 0;
            height: 0;
            border-style: solid;
            border-width: 13px 13px 13px 0;
            border-color: transparent rgba(0, 0, 0, 0.25) transparent transparent;
        }

        // add triangle
        &:after {
            z-index: @zindex-dropdown + 1; // todo add var must overlaps app-content
            position: absolute;
            right: 0;
            top: floor(@grid-gutter-width / 2);
            content: " ";

            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 10px 11px 0;
            border-color: transparent @body-bg transparent transparent; // todo fix use with dropdown (bg white)
        }
    }
}
