
@import "embedded";
@import "explorer";
@import "overview";
@import "rights";

.resource-type {
    border-radius: @border-radius-base;
    background: #F5F5F5; // todo : use a var (same than modal footer)
    border: 1px solid transparent;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: @font-size-large;

    .resource-icon {
        height: 40px;
        margin-right: 10px;
    }

    h1 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }

    p {
        margin-top: 5px;
        margin-bottom: 0;
        font-style: italic;
        font-size: @font-size-small;
        color: #777; // todo : use a var
    }
}
