{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'admin_resources_reservation'|trans({}, 'tools') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{ macros.breadcrumbs([
    {
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'admin_resources_reservation'|trans({}, 'tools'),
        'href': ''
    }
    ]) }}
{% endblock %}

{% block content %}
    <div
        class="page-container reservation-tool-container"
        data-is-admin="{{ isAdmin | json_encode | raw | escape }}"
        data-resource-types="{{ resourceTypes | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-reservation-admin-tool.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('claroline-distribution-plugin-reservation-admin-tool') }}"></script>
{% endblock %}
