{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{ macros.breadcrumbs([{
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    }, {
        'name': 'open_badge'|trans({}, 'tools'),
        'href': ''
    }]) }}
{% endblock %}

{% block content %}
    <div class="open-badge-container">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-plugin-open-badge-administration.js') }}"></script>
{% endblock %}
