.comments-container {
    padding: @panel-body-padding;
    border: 1px solid transparent; // for correct alignment
    background: #eee;
    margin-bottom: @component-margin-bottom;

    hr {
        border-color: @body-bg;
    }
}

.btn-add-comment {
    background: #E4E4E4;

    &:hover,
    &:focus {
        background: #E0E0E0;
    }
}

.comments-title {
    margin-top: 0;
}

.comments-section {
    padding-left: 40px;
}
