/*
 * Users barrel.
 */

@import "variables";
@import "mixins";

// Components styles
@import "comments";
@import "authentication"; // todo : should not be included in main theme file
@import "message";
@import "profile"; // todo : should not be included in main theme file
@import "timeline";
@import "tracking";

// todo : try to merge all user-avatar styles here
.user-avatar {
    border-radius: 50%;

    // for .fa when no picture
    color: #CCCCCC;
}

.user-micro {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    font-size: @font-size-small;
    font-weight: bold;

    .user-avatar {
        margin-right: 10px;

        // for picture
        max-height: 30px;

        // for .fa when no picture
        font-size: 30px;
    }
}

.panel-heading { // why ?
    .user-avatar {
        max-height: 160px;
        font-size: 160px;
        margin-bottom: 5px;
    }
}

.user-page {
    .page-header {
        // todo : check if this can be partially moved on base avatar styles
        // this should not break anything but it need tests.
        .user-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 72px;
            max-width: 100%;

            // make avatar always look as a square
            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }
    }

    .user-profile-aside {
        margin-top: floor((@font-size-h2 * @headings-line-height) + (@line-height-computed / 2)); // because of the profile picture
    }

    h2:first-of-type {
        margin-top: 0;
    }
}
