.user-profile {
    .user-profile-aside {

    }

    .user-profile-content {

    }

    .user-profile-nav {
        padding: 0;
        margin-bottom: @component-margin-bottom;
    }

    .user-profile-link {
        display: block;
        padding: 10px 15px;
        color: @text-color;
        background: #ebebeb;
        text-decoration: none;
        border-radius: @border-radius-base;

        > .fa {
            margin-right: @icon-text-spacer;
        }

        &.active {
            background: @brand-primary;
            color: white;
        }

        +.user-profile-link {
            margin-top: 5px;
        }
    }

    .profile-facet {

    }

    .no-section-info {
        margin-bottom: 15px;
        font-style: italic;
        text-align: center;
    }

    .add-section {
        padding: @padding-large-vertical @padding-large-horizontal;
    }
}
