.user-profile {
    .no-section-info {
        margin-bottom: @component-margin-bottom;
        font-style: italic;
        text-align: center;
    }

    .btn-add-facet {
        display: block;
        text-align: left;
        padding: 10px 15px;

        + .lateral-link {
            margin-top: 5px;
        }
    }
}
