{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'icap_bibliography_config' | trans({}, 'icap_bibliography') | striptags | raw }}
{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'packages'|trans({}, 'platform'),
                'href': path('claro_admin_plugins')
            },
            {
                'name': 'icap_book_reference_config'|trans({}, 'icap_bibliography'),
                'href': ''
            }
        ])
    }}
{% endblock %}


{% block content %}
    <div
        class="page-container book-reference-configuration-container"
        data-book-reference-configuration="{{ configuration | api_serialize | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-plugin-bibliography-book-reference-configuration') }}"></script>
{% endblock %}
