{# Webpack boilerplate #}
<script src="{{ hotAsset('runtime') }}"></script>

{# Base libraries #}
<script src="{{ hotAsset('vendor') }}"></script>

{# Frequently used Claroline JS #}
<script src="{{ hotAsset('app') }}"></script>

{# Claroline Plugins configuration #}
<script src="{{ hotAsset('plugins') }}"></script>

{# Polyfills #}
<script src="{{ hotAsset('claroline-distribution-main-app-polyfills') }}"></script>

{# TODO: remove this when custom js builds are available #}
{# ATTENTION : it must be loaded before Bootstrap to override `.tooltip()` method #}
<script src="{{ asset('packages/jquery-ui-dist/jquery-ui.min.js') }}"></script>

{% javascripts debug=false output='vendor/twitter/bootstrap/js/bootstrap.js'
    'packages/bootstrap/js/transition.js'
    'packages/bootstrap/js/alert.js'
    'packages/bootstrap/js/button.js'
    'packages/bootstrap/js/collapse.js'
    'packages/bootstrap/js/dropdown.js'
    'packages/bootstrap/js/modal.js'
    'packages/bootstrap/js/tab.js'
    'packages/bootstrap/js/tooltip.js'
    'packages/bootstrap/js/popover.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{# We have replaced WillDurand by our own to be able to lazy load trans domains #}
<script src="{{ hotAsset('claroline-distribution-main-app-translator') }}"></script>
{# Load some default translation domains #}
{% javascripts debug=false
    'js/translations/resource/*.js'
    'js/translations/home/*.js'
    'js/translations/platform/*.js'
    'js/translations/error/*.js'
    'js/translations/validators/*.js'
    'js/translations/alerts/*.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

{% javascripts debug=false output='vendor/claroline/js/libraries.js'
    '@ClarolineCoreBundle/Resources/public/js/common.js'
    '@ClarolineCoreBundle/Resources/public/js/modal.js'
    '@ClarolineCoreBundle/Resources/public/js/home/home.js'
    '@ClarolineCoreBundle/Resources/public/js/locale.js'
    '@ClarolineCoreBundle/Resources/public/js/startup.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script src="{{ hotAsset('claroline-distribution-main-core-tinymce') }}"></script>

{# Topbar #}
<script src="{{ hotAsset('claroline-distribution-main-app-header') }}"></script>

<script>
    $('body').tooltip({
        selector: '[data-toggle=tooltip]'
    });

    $('.maintenance-popover').popover();

    $('#hide-email-confirmation').on('click', function () {
        $.ajax({
            url: Routing.generate('claro_security_validate_email_hide'),
            type: 'GET',
            success: function () {
                $('.alert-email-confirm').hide();
            }
        });
    });

    // The following code fixes the issue of unscrollable modal due to focus loss when multiple modals are opened.
    var oldJqTrigger = jQuery.fn.trigger;
    jQuery.fn.trigger = function () {
        if ( arguments && arguments.length > 0) {
            if (typeof arguments[0] === 'string') {
                if (arguments[0] === 'hidden.bs.modal') {
                    if ($('.modal:visible').length) {
                        $('.modal-backdrop').first().css('z-index', parseInt($('.modal:visible').last().css('z-index')) - 10);
                        $('body').addClass('modal-open');
                    }
                }
            }
        }
        return oldJqTrigger.apply(this, arguments);
    };
</script>

{{ render(controller('ClarolineCoreBundle:Layout:injectJavascript')) }}

{% for file in platform_config()['javascripts'] %}
    <script src="{{ asset(file) }}"></script>
{% endfor %}
