{# Theme #}
    {% if config.getParameter('theme_extending_default') %}
        {# TODO : I think this should be removed (extend should be done in LESS) #}
        <link rel="stylesheet" type="text/css" href="{{ themeAsset('bootstrap.css', 'claroline') }}" />
    {% endif %}

<link rel="stylesheet" type="text/css" href="{{ themeAsset('bootstrap.css') }}" />

{{ render(controller('ClarolineCoreBundle:Layout:injectStylesheet')) }}
