{% block topBar %}
    <div
        class="app-header-container"
        data-display="{{ display | json_encode | raw | escape }}"
        data-workspaces="{{ workspaces | json_encode | raw | escape }}"
        data-administration="{{ administration | json_encode | raw | escape }}"
        data-notifications="{{ notifications | json_encode | raw | escape }}"
    ></div>
{% endblock %}
