{% block topBar %}
    <div
        class="app-header-container"
        data-main-menu="{{ mainMenu | json_encode | raw | escape }}"
        data-current-context="{{ context | json_encode | raw | escape }}"
        data-display="{{ display | json_encode | raw | escape }}"
        data-administration="{{ administration | json_encode | raw | escape }}"
        data-tools="{{ tools | json_encode | raw | escape }}"
        data-user-tools="{{ userTools | json_encode | raw | escape }}"
        data-notification-tools="{{ notificationTools | json_encode | raw | escape }}"
        data-notifications="{{ notifications | json_encode | raw | escape }}"
        data-is-impersonated="{{ isImpersonated }}"
    ></div>
{% endblock %}
