.keyword-items {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}

.keyword-item {
    display: flex;

    .keyword-expected {
        margin-right: floor(@grid-gutter-width / 2);
    }

    .keyword-case-sensitive {
        margin: 0 floor(@grid-gutter-width / 2) 0 floor(@grid-gutter-width / 2);
    }

    .keyword-score {
        width: 60px;
        margin-right: floor(@grid-gutter-width / 2);
    }

    .text-fields {
        flex: 1;
    }
}

.keywords-popover {
    min-width: 360px; // grow popover

    .popover-title {
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn-link,
            .btn {
                padding: 0 4px; // horizontal : same as feedback and delete item btns
            }
        }
    }
}
