{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'bbb_configuration' | trans({}, 'bbb') | striptags | raw }}
{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'parameters'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'plugins'|trans({}, 'platform'),
                'href': path('claro_admin_plugins')
            },
            {
                'name': 'bbb_configuration'|trans({}, 'bbb'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block page_title %}{{ 'bbb_configuration'|trans({}, 'bbb') }}{% endblock %}
{% block page_content %}
    <div class="bbb-config-container"
         data-user="{{ user | api_serialize({'public': true}) | json_encode | raw | escape }}"
         data-server-url="{{ serverUrl | json_encode | raw | escape }}"
         data-security-salt="{{ securitySalt | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-big-blue-button-bbb.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('claroline-distribution-plugin-big-blue-button-configuration') }}"></script>
{% endblock %}
