{% extends 'ClarolineCoreBundle:desktop:layout.html.twig' %}

{% trans_default_domain 'competency' %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'my-learning-objectives'|trans({}, 'tools')|striptags|raw }}
{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'my-learning-objectives'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
    <div class="panel-body my-objectives-tool-panel-body">
        <div class="page-container my-objectives-tool-container"
             data-objectives="{{ objectives| json_serialize | raw | escape }}"
             data-objectives-competencies="{{ objectivesCompetencies | json_serialize | raw | escape }}"
             data-competencies="{{ competencies | json_serialize | raw | escape }}"
        >
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('claroline-distribution-plugin-competency-my-objectives') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-competency-my-objectives.css') }}" />
{% endblock %}
