{% block stylesheets %}
  {% stylesheets debug = false output = 'css/innovavideorecorder/video-recorder.css'
  "@InnovaVideoRecorderBundle/Resources/style/app.css"
 %}
  <link rel="stylesheet" href="{{ asset_url }}" screen="media"/>
  {% endstylesheets %}
{% endblock %}

<!-- MODAL FORM -->

<div class="modal-dialog video-recorder-creation-modal" id="video-recorder-modal">
  <form id="arForm" action="{{ path('claro_resource_create', {'resourceType':resourceType, 'parentId':'_nodeId'}) }}" enctype="multipart/form-data">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">
          <i class="fa fa-video-camera"></i>&nbsp;{{ 'resource_modal_title'|trans({}, 'innova_video_recorder') }}
        </h4>
      </div>
      <div class="modal-body">
        <div id="form-content">
          <!-- resource name -->
          <div class="form-inline">
            <div class="form-group">
              <label for="resource-name-input">{{ 'resource_name'|trans({}, 'innova_video_recorder') }}</label>
                <input required="required" id="resource-name-input" type="text" value="recorded-video-{{'now'|date('YmdHs')}}" class="form-control" name="resourceName" placeholder="">
            </div>
          </div>
          <hr/>
          <!-- video preview -->
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
              <video id="preview" class="not-video-js"></video>
            </div>
            <div class="col-md-3 db-container">
              <!-- db-meter -->
              <canvas id="db-meter" title="{{ 'db_meter'|trans({}, 'innova_video_recorder') }}"></canvas>
            </div>
          </div>
          <!-- recorder buttons -->
          <div class="row recorder-buttons-row">
            <div class="col-md-12 text-center">
              <button type="button" role="button" class="btn btn-primary" id="video-record-start" title="{{ 'start_recording'|trans({}, 'innova_video_recorder') }}" disabled="disabled">{{ 'start'|trans({}, 'innova_video_recorder') }}</button>
              <button type="button" role="button" style="display:none" class="btn btn-warning" id="video-record-stop" title="{{ 'stop_recording'|trans({}, 'innova_video_recorder') }}">{{ 'stop'|trans({}, 'innova_video_recorder') }}</button>
              <button type="button" role="button" style="display:none" id="retry" disabled="disabled" class="btn btn-success">
                {{ 'retry'|trans({}, 'innova_video_recorder') }}
              </button>
            </div>
          </div>
          <!-- timer -->
          <div class="row current-time-row">
            <div class="col-md-12 text-center">
              <span class="current-time">
                0&nbsp;s
              </span>
              {% if maxTime > 0 %}
                <span>&nbsp;({{maxTime | hmsTime}})</span>
              {% endif %}
            </div>
          </div>
          <!-- warning message -->
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-info text-center" style="display:none;" role="alert">
                {{ 'warning_message_record_end'|trans({}, 'innova_video_recorder')|raw }}
              </div>
            </div>
          </div>
        </div>
        <!-- progress bar -->
        <div class="row progress-row" style="display:none;">
          <div class="col-md-12">
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- error -->
        <div class="row error-row" style="display:none;">
          <div class="col-md-12">
            <div class="alert alert-danger">
              {{ 'resource_creation_error'|trans({}, 'innova_video_recorder') }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" role="button" id="submitButton" disabled="disabled" class="btn btn-primary">
          {{ 'ok'|trans({}, 'innova_video_recorder') }}
        </button>
      </div>
    </div>
  </form>
  <input type="hidden" id="maxTime" value="{{maxTime}}">
</div>

{% block javascripts %}
  <script src="{{ url('bazinga_jstranslation_js', { 'domain':'innova_video_recorder' }) }}"></script>
  <script src="{{ hotAsset('claroline-distribution-plugin-video-recorder-recorder') }}"></script>
{% endblock %}
