.quiz-editor {
  display: flex;
  flex: 1;
  min-height: 100%;

  .edit-zone {
    flex: 1 100%;
    //padding-left: floor(@grid-gutter-width / 2); // fake bootstrap grid
    .panel-body {
      & > * {
        max-width: @quiz-container-width;
        margin: auto;
      }
    }

    .left-controls,
    .right-controls {
      display: flex;
      align-items: flex-start;

      .btn-link,
      .btn {
        padding-left: 4px;
        padding-right: 4px;
      }
    }

    .feedback-container {
      margin-top: @form-group-margin-bottom;
      padding-left: @grid-gutter-width;
    }

    // TODO : move in tag bundle
    .item-tags-list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }

    // TODO : move in tag bundle
    .item-tag {
      margin: 5px;
    }

    // TODO : move in tag bundle
    .tags-dropdown-menu {
      position: inherit;
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 3px;
      padding-top: 0px;
      padding-bottom: 0px;

      .tags-fetching {
        background-color: #DEE1E8;
      }
    }
  }

  .item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .item-actions {
    white-space: nowrap; // Avoid buttons to be displayed on multi lines

    .btn-link,
    .btn {
      padding: 0;
    }
  }

  .step-parameters + div,
  .step-parameters + .panel {
    margin-top: @component-margin-bottom;
  }

  .step-footer {
    text-align: center;

    .btn-link,
    .btn {
      padding: @padding-large-vertical @padding-large-horizontal; // todo : should be a special class to be reused (eg Login btn)
    }
  }

  .hint-items  {
    > ul {
      padding-left: 0;
      list-style-type: none;
      margin: 0;
    }
  }

  .hint-item {
    display: flex;
    align-items: flex-start;
    background: @answer-item-bg;
    border: 1px solid @answer-item-border;
    padding: @answer-item-padding;
    margin-bottom: @answer-item-margin-bottom;
    .border-radius(@answer-item-border-radius);
    .box-shadow(@answer-item-box-shadow);

    .btn-link,
    .btn {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .hint-value {
    flex-grow: 1;
  }

  .hint-penalty {
    width: 60px;
    margin: 0 floor(@grid-gutter-width / 2);
  }

  .no-item-info,
  .no-hint-info {
    margin-bottom: @form-group-margin-bottom;
    font-style: italic;
    text-align: center;
  }

  .fa.disabled { // todo : find why this is needed
    color: #aaa;
    cursor: not-allowed;
  }

  .editor-panel-title {
    cursor: pointer;
  }

  .panel-title[aria-expanded=true] .item-icon {
    color: @brand-primary;
    fill: @brand-primary;
    stroke: @brand-primary;
  }
}


// todo : huge c/c from IP list control. Find a way to merge in a generic "item-control/item-list-control" or something like that
.tag-control {
  display: flex;
  flex-direction: row;
  align-items: center;

  .form-control {
    flex: 1;
    min-width: 0; // hack to avoid overflow in FF

    +.form-control {
      margin-left: 10px;
    }
  }

  // todo find better selector
  input[type=number] {
    text-align: right;
    max-width: 80px;
  }
}

.tag-list-control {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .tag-add {
    margin-bottom: 5px;
  }

  .no-tag-info {
    font-style: italic;
    text-align: center;

    // todo use vars
    line-height: 30px;
    border: 1px dashed #999;
    border-radius: 4px;
    padding: 5px;
    color: #999;
  }

  .tag-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: @gray-lighter;
    padding: 5px;

    + .tag-item {
      margin-top: 5px;
    }

    .border-radius(@border-radius-base);

    .tag-control {
      flex: 1;
    }

    .btn-link,
    .btn {
      margin-left: floor(@grid-gutter-width / 2);
      padding: 4px;
    }
  }
}

.has-warning .no-tag-info {
  color: @state-warning-text;
  border-color: @state-warning-text;
}

.has-error .no-tag-info {
  color: @state-danger-text;
  border-color: @state-danger-text;
}

@media (max-width: @screen-sm-min) {
  .quiz-editor {
    flex-direction: column;
  }
}
