{% if 'desktop' == context.type %}
    {% set layout = 'ClarolineCoreBundle:desktop:layout.html.twig' %}
{% else %}
    {% set layout = 'ClarolineCoreBundle:workspace:layout.html.twig' %}
{% endif %}

{% extends layout %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-main-core-home-tool.css') }}" />
{% endblock %}

{# Title of the Page #}
{% block title %}
    {{ parent() ~ ' - ' ~ "home" | trans({}, "tools") | striptags | raw }}
{% endblock %}


{# Content of the Page #}
{% block content %}
    <div
        class="page-container home-container"
        data-editable="{{ editable }}"
        data-current-context="{{ context | json_encode | raw | escape }}"
        data-tabs="{{ tabs | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'home' }) }}"></script>

    <script src="{{ hotAsset('claroline-distribution-main-core-home-tool') }}"></script>
{% endblock %}
