{% if 'desktop' == context.type %}
    {% set layout = 'ClarolineCoreBundle:desktop:layout.html.twig' %}
{% else %}
    {% set layout = 'ClarolineCoreBundle:workspace:layout.html.twig' %}
{% endif %}

{% extends layout %}

{# Title of the Page #}
{% block title %}
    {{ parent() ~ ' - ' ~ "progression" | trans({}, "tools") | striptags | raw }}
{% endblock %}

{# Content of the Page #}
{% block content %}
    <div
        class="page-container progression-container"
        data-current-context="{{ context | json_encode | raw | escape }}"
        data-items="{{ items | json_encode | raw | escape }}"
        data-level-max="{{ levelMax | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-progression-tool') }}"></script>
{% endblock %}
