{% if 'desktop' == context.type %}
    {% set layout = 'ClarolineCoreBundle:desktop:layout.html.twig' %}
{% else %}
    {% set layout = 'ClarolineCoreBundle:workspace:layout.html.twig' %}
{% endif %}

{% extends layout %}

{# Title of the Page #}
{% block title %}
    {{ parent() ~ ' - ' ~ "resources" | trans({}, "tools") | striptags | raw }}
{% endblock %}

{# Content of the Page #}
{% block content %}
    <div
        class="page-container resources-container"
        data-current-context="{{ context | json_encode | raw | escape }}"
        data-root="{{ root | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'resource' }) }}"></script>

    <script src="{{ hotAsset('claroline-distribution-main-core-resources-tool') }}"></script>
{% endblock %}
