
{% set layout = 'ClarolineCoreBundle:workspace:layout.html.twig' %}

{% extends layout %}

{# Title of the Page #}
{% block title %}
    {{ parent() ~ ' - ' ~ "trash" | trans({}, "tools") | striptags | raw }}
{% endblock %}

{# Content of the Page #}
{% block content %}
    <div
        class="page-container trash-container"
        data-current-context="{{ context | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'resource' }) }}"></script>

    <script src="{{ hotAsset('claroline-distribution-main-core-trash-tool') }}"></script>
{% endblock %}
