.data-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%; // to fill page if needed

    // Responsive table.
    //
    // I put it here to avoid possible side effects in other use of .table.
    // The code can seem a little bit weird but it permits to have all rows the same height (1 line)
    // and to add ellipsis on long texts.
    //
    // This is far from perfect but it's the best I can do for now.
    //
    // Drawbacks :
    //  - all columns get the same width. So for some data it's too large (cf. boolean) or too small (long text / links).
    /*.table td,*/ // it breaks dropdowns if uncommented
    .table th {
        max-width: 1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .pagination-container {
        margin-top: auto; // force align to the bottom if content doesn't fill the screen
    }
}

.list-header {
    display: flex;
    align-items: stretch;
}

.list-selected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: @list-controls-bg;

    .list-selected-label {
        font-weight: bold;
        .fa {
            text-align: center;
        }
    }

    .list-selected-actions {
        white-space: nowrap; // avoids buttons to break on multi lines
    }
}

a.list-primary-action,
button.list-primary-action {
    .button-link-variant(@link-color, @link-hover-color, @link-hover-decoration);
}

.list-primary-action {
    text-align: inherit;
    display: block; // fill cell
    width: 100%;
}

.list-options {
    background: @list-controls-bg;
    display: flex;
    align-items: flex-end;
    margin-left: auto; // force right alignment if no search

    .btn {
        line-height: @line-height-large;
        height: @input-height-large;
        padding: @padding-large-vertical @padding-large-horizontal;
    }

    .open {
        .btn {
            box-shadow: none;
            background: @list-controls-active-bg;
            color: @list-controls-active-color;
        }
    }
}

.list-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .count {
        padding: @padding-base-vertical @padding-base-horizontal;
        color: @list-controls-color;
        background: @list-controls-bg;
        border: 1px solid transparent;
        font-weight: bold;
        border-radius: @border-radius-base;
    }
}

.list-empty {
    margin: auto;
    min-width: 50%;

    .list-empty-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
    }

    .list-empty-icon {
        font-size: 120px;
        color: #ddd;
        margin: 15px;
    }

    .list-empty-content {
        flex: 2;
        margin: 15px;
        font-size: @font-size-large;
    }

    .list-empty-actions {
        padding: 30px;
        border-top: 1px solid #ddd;
    }

    .list-content-desc {
        max-width: 400px;
        font-size: 12px;
        text-align: justify;
        margin-top: 10px;
    }

    .list-empty-more {
        border-top: 1px solid #ddd;
        margin-top: @component-margin-bottom;
        padding-top: @component-margin-bottom;
    }

    .btn {
        text-align: left;
        padding: @padding-large-vertical @padding-large-horizontal;

        .fa {
            margin-right: @icon-text-spacer;
        }

        + .btn {
            margin-top: 5px;
        }
    }
}

@media (max-width: @screen-sm-min) {
    .list-empty {
        .list-empty-info {
            text-align: center;
            flex-direction: column;
        }
    }
}
