@import "../../less/themes/default/variables";

.analytics-container {
  .analytics-card {
    margin-bottom: @panel-margin-bottom;
    .data-card-title {
      span {
        margin-left: @panel-group-panel-margin
      }
      i.fa { padding-left: 3px; }
    }
    .analytics-color-legend {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}