//used in url bundle 
//todo: use in scorm bundle

.claro-iframe-content-container {
    height: 0;
    overflow: auto;
}

.claro-iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
