.data-grid-item {
  /* force pointer on links without href */
  a:hover {
    cursor:pointer;
  }
  /* action dropdown is always displayed, even if empty */
  //TODO: remove this hack when action dropdown display is corrected
  .dropdown {
    display: none;
  }
}