
@import "cascade";
@import "cascade-enum";
@import "collection";
@import "color-picker";
@import "editor";
@import "enum";
@import "field";
@import "file";
@import "filter";
@import "ip";
@import "select";
@import "text";

// adds some var to configure form controls
.form-control {
    padding: @input-padding; // adds a semantic var

    .box-shadow(@input-box-shadow);
    .transition(@input-transition);
}

input[type=checkbox] {
    cursor: pointer;
}

// Fixes bootstrap that do not remove label font-weight like `.radio` and `.checkbox`
// And so do not work as expected
.radio-inline,
.checkbox-inline {
    label {
        font-weight: normal;
        cursor: pointer;
    }
}

// increase margin
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: @grid-gutter-width;
}
