{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ 'register' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block content %}
    <div
      class="registration-form-container"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('dist/claroline-distribution-main-core-user-registration.js') }}"></script>
{% endblock %}
