{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'external_user_group_parameters' | trans({}, 'claro_external_user_group') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{
    macros.breadcrumbs([
    {
        'icon': 'fa fa-cog',
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'parameters'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    },
    {
        'name': 'external_user_group_parameters'|trans({}, 'claro_external_user_group'),
        'href': path('claro_admin_external_sync_config_index')
    },
    {
        'name': sourceConfig.name,
        'href': ''
    }
    ])
    }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'source_synchronization'|trans({'%source%': sourceConfig.name}, 'claro_external_user_group') }}</h1>
    </div>
    {{ macros.flashBox() }}
    <div class="page-body">
        <sync-app></sync-app>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('packages/angular-loading-bar/build/loading-bar.min.css') }}" screen="media"/>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'claro_external_user_group' }) }}"></script>
    <script type="text/javascript">
      window.externalSource = {{ sourceConfig|json_serialize(['Default'])|raw }};
      window.platformRoles = {{ platformRoles|json_serialize()|raw }};
    </script>
    {#<script type="text/javascript" src="{{ hotAsset('dist/claroline-distribution-main-authentication-synchronize.js') }}"></script>#}
{% endblock %}
