{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block title %}{{ user.name | striptags | raw }}{% endblock %}

{% block content %}
    <div
        class="user-tracking-container page-container"
        data-user="{{ user | json_encode | raw | escape }}"
        data-evaluations="{{ evaluations | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-user-tracking') }}"></script>
{% endblock %}
