{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'appearance_settings' | trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% block content %}
    <div
        class="page-container appearance-settings-container"

        data-current-context="{{ context | json_encode | raw | escape }}"
        data-parameters="{{ parameters | json_encode | raw | escape }}"
        data-themes="{{ themes | json_encode | raw | escape }}"
        data-is-read-only = "{{ isReadOnly | json_encode | raw | escape }}"
        data-icon-set-choices = "{{ iconSetChoices | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-appearance-settings') }}"></script>
{% endblock %}
