{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'desktop_and_home' | trans({}, 'tools') | striptags | raw }}{% endblock %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'fa fa-cog',
                'name': 'administration'|trans({}, 'platform'),
                'href': path('claro_admin_index')
            },
            {
                'name': 'desktop_and_home'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-main-core-home-tool.css') }}" />
{% endblock %}

{% block content %}
    <div
      class="page-container desktop-container"
      data-editable="{{ editable }}"
      data-administration="{{ administration }}"
      data-current-context="{{ context | json_encode | raw | escape }}"
      data-tabs="{{ tabs | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {# Translations #}
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'home' }) }}"></script>

    <script src="{{ hotAsset('claroline-distribution-main-core-admin-desktop-tool') }}"></script>
{% endblock %}
