{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'main_settings' | trans({}, 'tools') | striptags | raw }}
{% endblock %}

{% block content %}
    <div
        class="page-container main-settings-container"

        data-current-context="{{ context | json_encode | raw | escape }}"
        data-parameters="{{ parameters | json_encode | raw | escape }}"
        data-available-locales="{{ availableLocales | json_encode | raw | escape }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-main-settings') }}"></script>
{% endblock %}
