{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'tasks_scheduling'|trans({}, 'tools') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{ macros.breadcrumbs([
        {
            'name': 'administration'|trans({}, 'platform'),
            'href': path('claro_admin_index')
        },
        {
            'name': 'tasks_scheduling'|trans({}, 'tools'),
            'href': ''
        }
    ]) }}
{% endblock %}

{% block content %}
    <div
        class="page-container scheduled-tasks-container"
        data-is-cron-configured="{{ isCronConfigured }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-scheduled-task-management') }}"></script>
{% endblock javascripts %}
