{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% block title %}{{ parent() ~ ' - ' ~ 'data_transfer' | trans({}, 'tools') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{ macros.breadcrumbs([
        {
            'name': 'administration'|trans({}, 'platform'),
            'href': path('claro_admin_index')
        },
        {
            'name': 'data_transfer'|trans({}, 'tools'),
            'href': ''
        }
    ]) }}
{% endblock %}

{% block content %}
    <div
        class="page-container transfer-container"
        data-explanation="{{ explanation | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-transfer-management') }}"></script>
{% endblock %}
