{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'users' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{ macros.breadcrumbs([{
        'name': 'administration'|trans({}, 'platform'),
        'href': path('claro_admin_index')
    }, {
        'name': 'users_management'|trans({}, 'tools'),
        'href': ''
    }]) }}
{% endblock %}

{% block content %}
    <div
      class="page-container users-container"
      data-parameters="{{ parameters | json_encode | raw | escape }}"
      data-profile="{{ profile | json_encode | raw | escape }}"
      data-platform-roles="{{ platformRoles | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-user-management') }}"></script>
{% endblock %}
