{% extends "ClarolineCoreBundle:administration:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'workspaces_management' | trans({}, 'platform') | striptags | raw }}{% endblock %}
{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}
{% block breadcrumb %}
    {{ macros.breadcrumbs([
        {
            'name': 'administration'|trans({}, 'platform'),
            'href': path('claro_admin_index')
        },
        {
            'name': 'workspaces_management'|trans({}, 'platform'),
            'href': ''
        }
    ]) }}
{% endblock %}

{% block content %}
    <div
        class="page-container workspaces-container"
        data-parameters="{{ parameters | json_encode | raw | escape }}"
        data-tools="{{ tools | json_encode | raw | escape }}"
        data-models="{{ models | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {# Claroline JS #}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-workspace-management') }}"></script>
{% endblock %}
