.dashboard-card {
  margin-bottom: @panel-margin-bottom;
  .data-card-title span {
    margin-left: @panel-group-panel-margin
  }
  .dashboard-color-legend {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align: middle;
  }
}

.dashboard-standout {
  margin-bottom: @panel-margin-bottom;
  .dashboard-standout-text-lg {
    font-size: 2em;
    padding-right: 10px;
  }
  .dashboard-standout-text-sm {
    i {
      padding-right: 5px;
    }
  }
}