.list-search {
    flex: 1;
    background: @list-controls-bg;
}

.search-full {
    display: flex;
    flex-direction: row;
    align-items: center;

    .data-filter {
        margin: 8px;
    }

    .btn-search {
        margin: 8px 8px 8px auto;
    }
}

.search-unified {
    position: relative;
    font-size: @font-size-large;

    &.open {
        .box-shadow(0 1px 2px rgba(0,0,0,.5)); // todo : use a var
    }

    .search-icon {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: @padding-large-vertical;
        color: @list-controls-color;
        height: @input-height-large;
        width: @input-height-large;
        line-height: @line-height-large;
        text-align: center;
    }

    .search-filters {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: @input-height-large; // because of the absolute search icon
    }

    .search-control {
        width: auto;
        flex: 1;
        border: none;
        box-shadow: none;
        background: transparent;

        .input-size(@input-height-large; 0; @padding-large-horizontal; @font-size-large; @line-height-large; 0);

        padding-left: 0; // ugly
    }

    .search-filter {
        display: inline-block;
        font-size: @font-size-small;
        margin: @padding-large-vertical @padding-large-horizontal @padding-large-vertical 0;
        line-height: @line-height-large;
        white-space: nowrap;
        background: @state-info-bg;
        color: @state-info-text;
        border: @label-border-radius;
        border-radius: @border-radius-small;

        .search-filter-prop {
            display: inline-block;
            background: @state-info-text;
            color: @state-info-bg;
            padding: 0.4em 0.6em;
            font-weight: bold;
            border-radius: @border-radius-small 0 0 @border-radius-small;
        }

        .search-filter-value {
            display: inline-block;
            padding: 0.4em 0.6em;

            .btn {
                font-size: @font-size-small;
                line-height: 1;
                border: none;
                color: @state-info-text;
                padding: 0;
                margin-left: 0.6em;

                &:hover,
                &:focus {
                    color: darken(@state-info-text, 10%)
                }
            }
        }
    }

    .search-available-filters {
        position: absolute;
        z-index: @zindex-list-search;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0;
        margin: -1px 0 0;
        font-size: @font-size-base;
        background: @list-controls-bg;
        .box-shadow(0 2px 2px rgba(0,0,0,.5)); // todo use a var


        > li {
            list-style-type: none;
            border-top: 1px solid @list-controls-border;
        }

        .available-filter {
            display: flex;
            flex-wrap: wrap; // todo : enhance responsive. it's ugly on XS screen
            justify-content: space-between;
            padding: 0 @padding-large-horizontal;
            color: @list-controls-color;
        }

        .available-filter-active {
            &:hover,
            &:focus {
                background: @list-controls-active-bg;
                color: @list-controls-active-color;
            }
        }

        .available-filter-disabled {
            background: @list-controls-disabled-bg;

            .available-filter-prop {
                color: @list-controls-disabled-color;
                opacity: .5;
            }
        }

        .available-filter-prop {
            display: inline-block;
            padding: 10px 0;
            font-weight: bold;
            color: @state-info-text;

            small {
                font-weight: normal;
                color: @text-muted;
            }

            .fa-fw {
                font-size: @font-size-small;
                color: @gray;
                margin-right: @padding-large-horizontal;
            }
        }

        .available-filter-form {
            display: flex;
            align-items: center;

            .available-filter-value {
                font-style: italic;
                padding: 10px 0;
            }
        }
    }
}
