/**
 * Styles for summary
 */


// -
// Summary
// ---

// there is no sizing for xs because it's always 100% in this case
@path-summary-width-sm:             percentage((6 / @grid-columns));
@path-summary-width:                percentage((4 / @grid-columns)); // do not affect sm screens : in this case, summary is full screen
@path-summary-fullscreen-width:     percentage((4 / @grid-columns)); // width of the summary in fullscreen mode (only for md & lg screens)
@path-summary-collapsed-width:      50px;

@path-summary-font:                 @summary-font;
@path-summary-padding:              @summary-padding;
@path-summary-bg:                   @summary-bg;
@path-summary-color:                @summary-color;
@path-summary-box-shadow-h:         @summary-box-shadow-h;
@path-summary-box-shadow-v:         @summary-box-shadow-v;
@path-summary-lvl-indent:           20px; // indent children of a step in the summary

// Header
@path-summary-title-color:          @path-summary-color;

// Controls (open/close, pin buttons)
@path-summary-control-bg:           @summary-link-bg;
@path-summary-control-color:        @summary-link-color;
@path-summary-control-hover-bg:     @summary-link-hover-bg;
@path-summary-control-hover-color:  @summary-link-hover-color;
@path-summary-control-active-bg:    @summary-link-active-bg;
@path-summary-control-active-color: @summary-link-active-color;

// Links
@path-summary-link-bg:              @summary-link-bg;
@path-summary-link-color:           @summary-link-color;
@path-summary-link-border-color:    @summary-link-border-color;
@path-summary-link-hover-bg:        @summary-link-hover-bg;
@path-summary-link-hover-color:     @summary-link-hover-color;
@path-summary-link-active-bg:       @summary-link-active-bg;
@path-summary-link-active-color:    @summary-link-active-color;

.summary-link-container {
    list-style: none;
    font-size: @path-summary-font;

    .active {
        .step-progression {
            color: @path-summary-link-active-color !important; // override status color
        }
    }

    .fa {
        width: @path-summary-collapsed-width - (@path-summary-padding * 2);
        text-align: center;
    }

    .btn-summary {
        .btn-link;
    }

    a,
    button,
    .btn-summary {
        font-size: @path-summary-font; // required to override default button size
        color: @path-summary-link-color;
        padding: 10px 0;

        &:hover {
            color: @path-summary-link-hover-color;
        }

        &.active,
        &:active,
        &:focus {
            color: @path-summary-link-active-color;
        }
    }
}

.summary-link {
    background-color: @path-summary-link-bg;
    border-bottom: 1px solid transparent;

    display: flex;
    align-items: center;

    &:hover {
        background-color: @path-summary-link-hover-bg;
    }

    > a,
    > button {
        border: none;
        flex: 1;
        display: flex;
        align-items: center;
    }
}

.summary-link-actions {
    white-space: nowrap; // avoid buttons to be displayed in column

    .btn-summary {
        padding: 2px;
    }
}
