/*
 * Inspired from http://experiments.wemakesites.net/css3-treeview-with-multiple-node-selection.html
 **/

.treeview-hidden {
    display:none;
}

.treeview-pointer {
    cursor: pointer;
}

.treeview,
.treeview *
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.treeview li ul
{
    margin: 0 0 0 22px;
}

.treeview *
{
    vertical-align: middle;
}

.treeview li
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

//hide elements if it's not checked/open
.treeview input[type="checkbox"][id]:not(:checked) ~ ul
{
    display: none;
}

//magic and unicorns for these classes. This is what handles the click on the hidden checkbox.
.treeview label[for]::before,
.treeview label span::before
{
    content: "\25b6";
    display: inline-block;
    margin: 2px 0 0;
    width: 13px;
    height: 13px;
    vertical-align: top;
    text-align: center;
    color: #e74c3c;
    font-size: 8px;
    line-height: 13px;
    transform: translatex(-30px);
    position: absolute;
}

.treeview input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\25bc";
}

.treeview label:not([for])
{
    margin: 0 8px 0 0;
}

.treeview-content {
    padding-left: 10px;
}
