{% import 'ClarolineCoreBundle::macros.html.twig' as macros %}

{% if is_maintenance_enabled() %}
<div class="alert-claroline-danger">
    <h4 class="label label-danger">
        {{ 'maintenance_mode_enabled'|trans({}, 'platform') }}
        <i
            class="fa fa-question-circle pointer-hand maintenance-popover"
            data-container=".alert-claroline-danger"
            data-toggle="popover"
            data-placement="bottom"
            data-content="{{ 'maintenance_mode_message'|trans({}, 'platform') }}"
        >
        </i>
    </h4>
</div>
{% endif %}

<!-- class name is wrong but it does the right thing -->
<div class="alert-claroline-danger">
    {% block claroline_danger %}{% endblock %}
</div>

{% if app.user != null and app.user.isMailValidated == false and app.user.hideMailWarning == false and is_mailer_available() and app.user.emailValidationHash %}
    <div class="alert-email-confirm">
        <h4 class="label label-warning">
            {{ 'email_not_activated_part_1'|trans({'%email%': app.user.email}, 'platform') }}
            <a href="{{ path('claro_security_validate_email_send', {'hash': app.user.emailValidationHash}) }}" class="confirm-email"> {{ 'email_not_activated_part_2'|trans({}, 'platform') }}</a>
            {{ 'email_not_activated_part_3'|trans({}, 'platform') }}
            <i
                class="fa fa-question-circle pointer-hand maintenance-popover"
                data-container=".alert-email-confirm"
                data-toggle="popover"
                data-placement="bottom"
                data-content="{{ 'email_confirmation_message'|trans({}, 'platform') }}"
            >
            </i>
            &nbsp&nbsp&nbsp&nbsp&nbsp
            <i class="fa fa-close pointer-hand" id="hide-email-confirmation"></i>
        </h4>
    </div>
{% endif %}
