{% extends 'ClarolineCoreBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-main-core-home-tool.css') }}" />
{% endblock %}

{% block content %}
    <div
        class="page-container home-container"
        data-editable="{{ editable }}"
        data-administration="{{ administration }}"
        data-current-context="{{ context | json_encode | raw | escape }}"
        data-tabs="{{ tabs | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ hotAsset('claroline-distribution-main-core-home') }}"></script>
{% endblock %}
