<div class="row media-container">
    <div class="col-md-12">
        <div id="audio-player">
            <div id="wave-timeline"></div>
            <div id="waveform">
                <div class="progress progress-striped active" id="progress-bar">
                    <div class="progress-bar progress-bar-info"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- media controls -->
<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-action="play" title="{{'play_pause' | trans({}, 'media_resource')}}">
                <i class="fa fa-play"></i>
                /
                <i class="fa fa-pause"></i>
            </button>
            <button type="button" class="btn btn-primary btn-show-help" title="{{'region_help_view' | trans({}, 'media_resource')}}">
                <i class="fa fa-question"></i>
            </button>
        </div>

    </div>
</div>
<hr>
<!-- segments -->
<div class="row" style="display:none;">
    <div class="col-md-12 text-center regions-container">
        {% if regions | length > 0 %}
            {% for region in regions %}
              {% include "InnovaMediaResourceBundle:MediaResource/Partials:region.html.twig" with {'region': region, 'hidden': true, 'config':true, 'admin': false} %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<!-- include help modal skeleton -->
{% include "InnovaMediaResourceBundle:MediaResource/Partials/modals:help.modal.html.twig" %}

{% block javascripts %}

  <script src="{{ hotAsset('dist/claroline-distribution-plugin-media-resource-active.js') }}"></script>

{% endblock %}
