{% extends 'ClarolineCoreBundle:workspace:layout.html.twig' %}

{% block title %}{{ _resource.resourceNode.name ~ ' - ' ~ "logs" | trans({}, "platform") | striptags | raw }}{% endblock %}

{% block resourceBreadcrumb %}
    <li class="active">{{ _resource.getResourceNode().getName() ~ ' - ' ~ "logs" | trans({}, "platform") }}</li>
{% endblock %}

{% block content %}
    <div
            class="page-container logs-container"
            data-resource-id="{{ _resource.resourceNode.id | json_encode | raw | escape }}"
            data-actions="{{ actions | json_encode | raw | escape }}"
    >
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-main-core-resource-logs') }}"></script>
{% endblock %}