{% if workspace is defined %}
    {% set calendarExtends = 'ClarolineCoreBundle:workspace:layout.html.twig' %}
{% else %}
    {% set calendarExtends = 'ClarolineCoreBundle:desktop:layout.html.twig' %}
{% endif %}

{% extends calendarExtends %}

{% block title %}
    {% if workspace is defined %}
        {{ parent() ~ ' - ' ~ "agenda" | trans({}, "tools") | striptags | raw }}
    {% else %}
        {{ parent() ~ ' - ' ~ "agenda" | trans({}, "tools") | striptags | raw }}
    {% endif %}
{% endblock %}

{% block content %}
  <div
    class="agenda-container page-container"
    {% if workspace is defined %}
      data-workspace="{{ workspace | api_serialize | json_encode | raw | escape }}"
    {% else %}
      data-workspace="{}"
    {% endif %}

    {% if filters is defined %}
       data-workspaces="{{ filters | json_encode }}"
    {% endif %}
  >

  </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ themeAsset('claroline-distribution-plugin-agenda-agenda.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ hotAsset('claroline-distribution-plugin-agenda-agenda') }}"></script>
{% endblock javascripts %}
